* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* -------------------------------------------------- */

/* REUSE COMPONENT */


/* -------------------------------------------------- */

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section {
    padding: 120px 0;
}

figure {
    margin: 0;
}

h1 {
    font-weight: 500;
    margin: 5px 0 5px 0;
    line-height: 50px;
}

h2 {
    font-weight: 300;
    font-size: 140%;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -------------------------------------------------- */


/* HEADER */


/* -------------------------------------------------- */

.header-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(39, 39, 39, 0.4)), url(img/main-header-photo.jpg);
}

.logo-white {
    display: inline-block;
    float: left;
    margin-top: 15px;
}

.main-nav {
    list-style: none;
    float: right;
}

.main-nav li {
    display: inline-block;
    padding-right: 15px;
    margin-top: 10px;
}

.link-text:link,
.link-text:visited {
    color: #fff;
    display: inline-block;
    padding: 20px 0px 20px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 60%;
    transition: color 0.2s;
}

.link-text:hover,
.link-text:active {
    color: rgb(216, 216, 216);
    transition: color 0.2s;
}

.main-nav li:nth-child(4) {
    
}

.main-nav li:nth-child(9) a {
    font-size: 80%;
}

.main-nav li:last-child a {
    font-size: 90%;
}

.menu-dropdown {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    background-color: rgb(47, 47, 47);
    margin-left: -20px;
    transition: background-color 0.2s;
    transition: visibility 0.5s;
}

.menu-dropdown.menu-dropdown-visible {
    visibility: visible;
}

.menu-dropdown:hover {
    visibility:visible;
    background-color: #000;
    transition: background-color 0.2s;
}

.link-drop:link,
.link-drop:visited {
    color: #b2b2b2;
    transition: color 0.2s;
}

.link-drop:hover,
.link-drop:active {
    color: rgba(56, 97, 175, 0.92);
    transition: color 0.2s;
}

.menu-dropdown a li {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
}

.menu-dropdown a li {
    border-bottom: 1px solid rgba(85, 85, 85, 0.58);
}

.menu-dropdown a:last-child li {
    border-bottom: none;
}

.menu-dropdown a li i {
    vertical-align: text-bottom;
}

.menu-dropdown a:first-child li i {
    vertical-align: text-bottom;
}

.menu-dropdown a:last-child li i {
    vertical-align: text-top;
}

.menu-dropdown a li h5 {
    text-transform: uppercase;
    font-size: 60%;
    font-weight: 400;
    margin-bottom: 5px;
}

.menu-dropdown a li h6 {
    font-size: 50%;
    font-weight: 300
}

.menu-dropdown a li h6 {
    margin-bottom: 12px;
}

.menu-dropdown a:last-child li h6 {
    margin-bottom: 4px;
}

.medium-icon {
    font-size: 120%;
}

.link-content {
    display: inline-block;
    vertical-align: middle;
}

.header-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------------------------- */


/* MAIN PAGE */


/* -------------------------------------------------- */

.icon-catalog {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.catalog-link:link,
.catalog-link:visited {
    color: rgba(85, 85, 85, 0.65);
}

.catalog-link:hover,
.catalog-link:active {
    color: #3b3a3a;
}

.icon-big {
    width: 100%;
    display: inline-block;
    font-size: 160%;
    font-weight: 500;
    margin-bottom: 20px;
}

.icon-des {
    font-size: 60%;
    font-weight: 400;
}

/* ---------------------------- */

.design-photo-list {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #000;
}

.design-photo {
    opacity: 1;
    width: 120%;
    height: 600px;
    background-size: auto;
    transform: translateX(-10%);
    transition: opacity 0.5s, transform 0.5s;
}

.design-photo.design-photo-hover {
    opacity: 0.5;
    transform: none;
    transition: opacity 0.5s, transform 0.5s;
}

.design-photo-des {
    color: #fff;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 400;
    font-size: 110%;
    word-spacing: 2px;
    line-height: 145%;
    padding-right: 20px;
    transition: opacity 0.5s;
    
}

.design-photo-des.design-photo-des-hover {
    opacity: 1;
    transition: opacity 0.5s;
}

/* -------------------------------------------------- */


/* CUSTOMER SERVICE */


/* -------------------------------------------------- */

.customer-service {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, #fafafa 0%, #f4f4f4 100%);
}

.cs-intro {
    margin-top: 40%;
}

.cs-title {
    color: rgba(24, 24, 24, 0.87);
    font-weight: 400;
    margin-bottom: 20px;
}

.cs-des {
    color: rgba(85, 85, 85, 0.64);
    font-size: 70%;
    font-weight: 300;
    line-height: 155%;
}

/* -------------------------------------------------- */


/* FEATURE BOX */


/* -------------------------------------------------- */

.feature-box {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #181818;
}

.feature-img {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 5px;
}

.feature-title {
    font-weight: 400;
    font-size: 95%;
}

.feature-des {
    font-size: 70%;
    font-weight: 300;
    color: #aaaaaa;
    margin-top: 30px;
    line-height: 25px;
}

/* -------------------------------------------------- */


/* FEATURE BOX */


/* -------------------------------------------------- */

.download-box {
    position: relative;
    width: 100%;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/wordpress-page-pricing.jpg);
    background-position: center;
    background-size: cover;
}

.des-box {
    width: 75%;
    text-align: center;
    margin-top: 60px;
}

.download-title {
    display: inline-block;
    font-size: 220%;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 20px 0 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 80%;
    padding: 15px 30px;
    border-radius: 3px;
}

.btn-download {
    background-color: #fff;
    color: #000;
    font-weight: 400;
}

/* -------------------------------------------------- */


/* SUBSCRIBE BOX */


/* -------------------------------------------------- */

.subscribe-box {
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/visualmodo-wordpress-themes-footer-main.jpg);
    background-position: center;
    background-size: cover;
}

.sub-logo-icon {
    text-align: center;
    position: relative;
}

.sub-logo-icon a:link,
.sub-logo-icon a:visited {
    color: #959595;
    transition: color 0.2s;
}

.sub-logo-icon a:hover,
.sub-logo-icon a:active {
    color: #fff;
    transition: color 0.2s;
}

.back-to-stop {
    display: block;
    font-size: 180%;
    font-weight: 200
}

.sub-logo {
    margin-top: 80px;
}

.sub-title {
    color: #898989;
    font-size: 70%;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.sub-box {
    text-align: center;
    margin-top: 20px;
}

.sub-email-box {
    margin-top: 100px;
}

.input {
    background-color: transparent;
}

.input-text {
    margin-left: 40px;
    width: 45%;
    display: inline-block;
    background-color: transparent;
    font-size: 70%;
    font-weight: 600;
    color: #fff;
    border: 2px solid #555;
    padding: 8px 0px 8px 5px;
    text-emphasis: 2px;
    transition: border 0.2s;
}

.input-text:hover,
.input-text:active {
    border: 2px solid #4080fa;
    transition: border 0.2s;
}

.email-icon {
    margin-left: -30px;
    display: inline-block;
    line-height: 145%;
    vertical-align: text-top;
}

.nav-bottom {
    font-size: 60%;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 90px;
}

.nav-bottom li {
    float:left;
    padding-left: 20px;
}

.nav-bottom a {
    color: #818181;
}

/* -------------------------------------------------- */


/* END-PAGE */


/* -------------------------------------------------- */

.end-page {
    width: 100%;
    height: 160px;
    background-color: #1a1a1a;
}

.end-box {
    height: 100%;
}

.end-box h6 {
    margin-top: 60px;
    font-weight: 500;
    font-size: 60%;
}

.social-list {
    margin-top: 50px;
}

.social-list li {
    float: right;
    padding-left: 25px;
    padding-right: 1px;
}

.social-list a:link,
.social-list a:visited {
    color: #555;
    transition: color 0.2s;
}

.social-list a:hover,
.social-list a:active {
    color: #fff;
    transition: color 0.2s;
}

.social-list a li i {
    font-size: 180%;
}
