* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #fff;
    font-family: font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* -------------------------------------------------- */

/* REUSE COMPONENT */


/* -------------------------------------------------- */

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section {
    padding: 120px 0;
}

figure {
    margin: 0;
}

h1 {
    font-weight: 500;
    margin: 5px 0 5px 0;
    line-height: 50px;
}

h2 {
    font-weight: 300;
    font-size: 140%;
}

a {
    text-decoration: none;
    color: #fff;
}


/* -------------------------------------------------- */


/* HEADER */


/* -------------------------------------------------- */

.header-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(39, 39, 39, 0.4)), url(img/main-header-photo.jpg);
}

.logo-white {
    display: inline-block;
    float: left;
    margin-top: 15px;
}

.main-nav {
    list-style: none;
    float: right;
}

.main-nav li {
    display: inline-block;
    padding-right: 25px;
    margin-top: 10px;
}

.link-text:link,
.link-text:visited {
    color: #fff;
    display: inline-block;
    padding: 20px 0px 20px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 60%;
    transition: color 0.2s;
}

.link-text:hover,
.link-text:active {
    color: rgb(216, 216, 216);
    transition: color 0.2s;
}

.main-nav li:nth-child(4) {
    
}

.main-nav li:nth-child(9) a {
    font-size: 80%;
}

.main-nav li:last-child a {
    font-size: 90%;
}

.menu-dropdown {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    background-color: rgb(47, 47, 47);
    margin-left: -20px;
    transition: background-color 0.2s;
    transition: visibility 0.5s;
}

.menu-dropdown.menu-dropdown-visible {
    visibility: visible;
}

.menu-dropdown:hover {
    visibility:visible;
    background-color: #000;
    transition: background-color 0.2s;
}

.link-drop:link,
.link-drop:visited {
    color: #b2b2b2;
    transition: color 0.2s;
}

.link-drop:hover,
.link-drop:active {
    color: rgba(56, 97, 175, 0.92);
    transition: color 0.2s;
}

.menu-dropdown a li {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
}

.menu-dropdown a:first-child li {
    border-bottom: 1px solid rgba(85, 85, 85, 0.58);
}

.menu-dropdown a:first-child li i {
    vertical-align: text-bottom;
}

.menu-dropdown a:last-child li i {
    vertical-align: text-top;
}
.menu-dropdown a li h5 {
    text-transform: uppercase;
    font-size: 60%;
    font-weight: 300;
    margin-bottom: 5px;
}

.menu-dropdown a li h6 {
    font-size: 50%;
    font-weight: 300
}

.menu-dropdown a:first-child li h6 {
    margin-bottom: 12px;
}

.medium-icon {
    font-size: 120%;
}

.link-content {
    display: inline-block;
    vertical-align: middle;
}

.header-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------------------------- */


/* MAIN PAGE */


/* -------------------------------------------------- */

.icon-catalog {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.catalog-link:link,
.catalog-link:visited {
    color: rgba(85, 85, 85, 0.65);
}

.catalog-link:hover,
.catalog-link:active {
    color: #3b3a3a;
}

.icon-big {
    width: 100%;
    display: inline-block;
    font-size: 160%;
    margin-bottom: 20px;
}

.icon-des {
    font-size: 60%;
    font-weight: 300;
}

/* ---------------------------- */

.design-photo-list {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #000;
}

.design-photo {
    opacity: 1;
    width: 120%;
    height: 600px;
    background-size: auto;
    transform: translateX(-10%);
    transition: opacity 0.5s, transform 0.5s;
}

.design-photo.design-photo-hover {
    opacity: 0.5;
    transform: none;
    transition: opacity 0.5s, transform 0.5s;
}

.design-photo-des {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 300;
    font-size: 110%;
    letter-spacing: 1px;
    line-height: 145%;
    padding-right: 20px;
    transition: opacity 0.5s;
    
}

.design-photo-des.design-photo-des-hover {
    opacity: 1;
    transition: opacity 0.5s;
}